@using ForumGenerator.WebClient.Communication;
@using ServiceReference1;

@{
    string username = "";
    string password = "";
    int forumId = Convert.ToInt32(Request.QueryString["forumId"]);
    int subForumId = Convert.ToInt32(Request.QueryString["subForumId"]);

    if (HttpContext.Current.Session["forum_" + forumId + "username"] != null && HttpContext.Current.Session["forum_" + forumId + "password"] != null)
    {
        username = HttpContext.Current.Session["forum_" + forumId + "username"].ToString();
        password = HttpContext.Current.Session["forum_" + forumId + "password"].ToString();
    }
    
    Communicator communicator = new Communicator();
    
    string forumName = communicator.getForums().Find(delegate(Forum f) { return f.forumId == forumId; }).forumName;
    string subForumName = communicator.getSubForums(forumId).Find(delegate(SubForum sf) { return sf.subForumId == subForumId; }).subForumTitle;    

    string error = null;

    if (IsPost) {
        switch ( Request.Form["loginout"] ) {
            case "login":
                username = Request.Form["username"];
                password = Request.Form["password"];
                ///////////// login code!
                try {
                    User u = communicator.login(forumId, username, password);
                    HttpContext.Current.Session["forum_" + forumId + "username"] = username;
                    HttpContext.Current.Session["forum_" + forumId + "password"] = password;
                }
                catch (Exception e) {
                    error = e.Message;
                }
                break;
            case "logout":
                communicator.logout(forumId, username, password);
                HttpContext.Current.Session.Remove("forum_" + forumId + "username"); 
                HttpContext.Current.Session.Remove("forum_" + forumId + "password");
                break; 
        }
    }
}


<html>
    <head>
        <meta content="text/html; charset=utf-8" />
        <link href="style.css" rel="stylesheet" type="text/css" />
        <title>The Nimbus Forum Generator</title>
    </head>

    <body>

        <!-- Header Section-->
		<div class="Header">
            <span style="display: block; float: left; clear: right; min-width: 60%; text-align:center"><img src="img/Nimbus_logo.png" /></span>
            <div style="display: block; float: left; clear: right; min-width: 40%; height: 110px;">
                @if (HttpContext.Current.Session["forum_" + forumId + "username"] == null)
                {
                    <form method="POST">
                        <span> 
                            <input type="text" name="username" class="userInput" placeholder ="User Name" />
                            <input type="password" name="password" class="userInput" placeholder="Password" />
                            <input type="submit" value="login" name="loginout" />
                        </span>
                    </form>
                    if(error != null) {
                        <span id="error_msg" style="color: red;">Error: @error</span>
                    }
                }
                else {
                    <span id="loggedin_details" style="color: white;">logged in as @username</span>
                    <form method="POST" style="padding-top:10px; padding-left: 20px;">
                        <span><input type="submit" name="loginout" value="logout"/></span>
                    </form>
                }
            </div>
		</div>

        <!-- Content Section-->
        <div class="BodyBox" style="height: 400px;">
            <table style="vertical-align: central; height: 30px;">
                <tr style="vertical-align:central">
                    <td><a href="index"><img style="vertical-align:central" src="img/Home_button.png" /></a></td>
                    <td style ="vertical-align: central; font-size: 16px; font-family: Overlock">&nbsp <a href="index">Home</a> -> <a href="forum?forumid=@forumId">@forumName</a> -> <a href="subforum?forumid=@forumId&subForumId=@subForumId">@subForumName</a></td>
                </tr>
            </table>
            <form>
                <textarea style="width:150px;height:80px;">Type something</textarea>
            </form>

		</div>
	</body>

</html>
