<?xml version="1.0"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><system.serviceModel>
  <bindings>
   <wsDualHttpBinding>
    <binding name="WSDualHttpBinding_IForumService">
     <security mode="Message">
      <message clientCredentialType="Windows" />
     </security>
    </binding>
   </wsDualHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8888/methods" binding="wsDualHttpBinding"
    bindingConfiguration="WSDualHttpBinding_IForumService" contract="ServiceReference1.IForumService"
    name="WSDualHttpBinding_IForumService">
    <identity>
     <userPrincipalName value="Gideon-PC\Gideon" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>
