<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ForumService.Service1">
                <!-- <endpoint address="" binding="wsHttpBinding" contract="ForumService.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint> -->
                <!-- the mexHttpBinding enables the client to retrieve the service reference from the ForumService -->
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <!-- <add baseAddress="http://localhost:8888/" /> -->
                        <add baseAddress="http://10.0.0.7:8888/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <!-- ADDED code here -->
    <system.diagnostics>
      <sources>
        <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing"
                propagateActivity="true">
          <listeners>
            <add name="traceListener"
                type="System.Diagnostics.XmlWriterTraceListener"
                initializeData= "d:\log\Traces.svclog" />
          </listeners>
        </source>
      </sources>
    </system.diagnostics>
  <!-- Done adding code here -->
</configuration>
